.view{
    margin-left: auto;
    text-align: center;
}

.mainDiv{
    display: flex;
    flex-direction: row;
}

.mainList{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.cell{
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.cell .tittle{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.cell .content{
    margin: auto
}

.filterOptions{
    margin: auto;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 20vw;

}